# Diabetics Classification

Our dataset contains information about family conditions and personal health data. Based on this health information, we are building a classification model to predict whether a person is at risk of developing diabetics.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns",None)

### Importing Data

In [11]:
diabetics = pd.read_csv('Files/diabetes_dataset.csv')
diabetics.head()

,age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,heart_rate,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,7.9,7.9,0,0,0,30.5,0.89,134,78,68,239,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,48,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,6.5,8.7,0,0,0,23.1,0.80,129,76,67,116,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,10.0,8.1,1,0,0,22.2,0.81,115,73,74,213,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,6.6,5.2,0,0,0,26.8,0.88,120,93,68,171,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,7.4,5.0,0,0,0,21.2,0.78,92,67,67,210,52,125,160,137,184,12.74,7.20,23.5,Type 2,1

### Data Inspection

In [13]:
diabetics.shape

(100000, 31)

In [14]:
diabetics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   age                                 100000 non-null  int64
 1   gender                              100000 non-null  object
 2   ethnicity                           100000 non-null  object
 3   education_level                     100000 non-null  object
 4   income_level                        100000 non-null  object
 5   employment_status                   100000 non-null  object
 6   smoking_status                      100000 non-null  object
 7   alcohol_consumption_per_week        100000 non-null  int64
 8   physical_activity_minutes_per_week  100000 non-null  int64
 9   diet_score                          100000 non-null  float64
 10  sleep_hours_per_day                 100000 non-null  float64
 11  screen_time_hours_per_day           100000 non-null  float64
 12  family_history_diabetes             100000 non-null  int64
 13  hypertension_history                100000 non-null  int64
 14  cardiovascular_history              100000 non-null  int64
 15  bmi                                 100000 non-null  float64
 16  waist_to_hip_ratio                  100000 non-null  float64
 17  systolic_bp                         100000 non-null  int64
 18  diastolic_bp                        100000 non-null  int64
 19  heart_rate                          100000 non-null  int64
 20  cholesterol_total                   100000 non-null  int64
 21  hdl_cholesterol                     100000 non-null  int64
 22  ldl_cholesterol                     100000 non-null  int64
 23  triglycerides                       100000 non-null  int64
 24  glucose_fasting                     100000 non-null  int64
 25  glucose_postprandial                100000 non-null  int64
 26  insulin_level                       100000 non-null  float64
 27  hba1c                               100000 non-null  float64
 28  diabetes_risk_score                 100000 non-null  float64
 29  diabetes_stage                      100000 non-null  object
 30  diagnosed_diabetes                  100000 non-null  int64
dtypes: float64(8), int64(16), object(7)
memory usage: 23.7+ MB

Here we are predicting diabetes, so we do not need the columns that already indicate whether a patient has diabetes. 

Therefore, we are removing diabetes_risk_score and diabetes_stage.

In [ ]:
diabetics.drop(['diabetes_risk_score','diabetes_stage'],axis=1,inplace = True)

In [47]:
diabetics.describe(percentiles=[0.25,.5,.7,.9,.95,.99])

,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,heart_rate,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diagnosed_diabetes
count,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50.12041,2.003670,118.911640,5.994787,6.997818,5.996468,0.219410,0.250800,0.079200,25.612653,0.856078,115.799610,75.23249,69.632870,185.978110,54.042790,103.000430,121.462650,111.11712,160.035050,9.061242,6.520776,0.599980
std,15.60460,1.417779,84.409662,1.780954,1.094622,2.468406,0.413849,0.433476,0.270052,3.586705,0.046837,14.284073,8.20425,8.371954,32.013005,10.267374,33.390256,43.372619,13.59561,30.935472,4.954060,0.813921,0.489904
min,18.00000,0.000000,0.000000,0.000000,3.000000,0.500000,0.000000,0.000000,0.000000,15.000000,0.670000,90.000000,50.00000,40.000000,100.000000,20.000000,50.000000,30.000000,60.00000,70.000000,2.000000,4.000000,0.000000
25%,39.00000,1.000000,57.000000,4.800000,6.300000,4.300000,0.000000,0.000000,0.000000,23.200000,0.820000,106.000000,70.00000,64.000000,164.000000,47.000000,78.000000,91.000000,102.00000,139.000000,5.090000,5.970000,0.000000
50%,50.00000,2.000000,100.000000,6.000000,7.000000,6.000000,0.000000,0.000000,0.000000,25.600000,0.860000,116.000000,75.00000,70.000000,186.000000,54.000000,102.000000,121.000000,111.00000,160.000000,8.790000,6.520000,1.000000
70%,58.00000,3.000000,145.000000,6.900000,7.600000,7.300000,0.000000,0.000000,0.000000,27.500000,0.880000,123.000000,80.00000,74.000000,203.000000,59.000000,120.000000,144.000000,118.00000,176.000000,11.630000,6.950000,1.000000
90%,71.00000,4.000000,232.000000,8.300000,8.400000,9.200000,1.000000,1.000000,0.000000,30.200000,0.920000,135.000000,86.00000,80.000000,227.000000,67.000000,147.000000,178.000000,129.00000,200.000000,15.770000,7.570000,1.000000
95%,76.00000,5.000000,284.000000,9.000000,8.800000,10.100000,1.000000,1.000000,1.000000,31.500000,0.930000,140.000000,89.00000,83.000000,239.000000,71.000000,161.000000,194.000000,134.00000,211.000000,17.780000,7.870000,1.000000
99%,87.00000,6.000000,394.000000,10.000000,9.500000,11.800000,1.000000,1.000000,1.000000,34.000000,0.970000,150.000000,94.00000,89.000000,261.000000,78.000000,185.000000,224.000000,143.00000,233.000000,21.450000,8.420000,1.000000
max,90.00000,10.000000,833.000000,10.000000,10.000000,16.800000,1.000000,1.000000,1.000000,39.200000,1.060000,179.000000,110.00000,105.000000,318.000000,98.000000,263.000000,344.000000,172.00000,287.000000,32.220000,9.800000,1.000000

There is no significant difference between the 99th percentile and the maximum value, which indicates that there are no outliers

### Data Preparation and preprocessing

Converting the categorical variables to numericals values using one-hot encoding (dummy features)

In [48]:
diabetics.head()

,age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,heart_rate,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,7.9,7.9,0,0,0,30.5,0.89,134,78,68,239,41,160,145,136,236,6.36,8.18,1
1,48,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,6.5,8.7,0,0,0,23.1,0.80,129,76,67,116,55,50,30,93,150,2.00,5.63,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,10.0,8.1,1,0,0,22.2,0.81,115,73,74,213,66,99,36,118,195,5.07,7.51,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,6.6,5.2,0,0,0,26.8,0.88,120,93,68,171,50,79,140,139,253,5.28,9.03,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,7.4,5.0,0,0,0,21.2,0.78,92,67,67,210,52,125,160,137,184,12.74,7.20,1

In [50]:
cat_cols = ['gender','ethnicity','education_level','income_level','employment_status','smoking_status']

dummies = pd.get_dummies(diabetics[cat_cols],drop_first=True).astype(int)
dummies.head()

,gender_Male,gender_Other,ethnicity_Black,ethnicity_Hispanic,ethnicity_Other,ethnicity_White,education_level_Highschool,education_level_No formal,education_level_Postgraduate,income_level_Low,income_level_Lower-Middle,income_level_Middle,income_level_Upper-Middle,employment_status_Retired,employment_status_Student,employment_status_Unemployed,smoking_status_Former,smoking_status_Never
0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0
2,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1
3,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1
4,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1

Merging the two datasets with converted categorical columns into the original dataset and dropping the original columns.

In [52]:
final_diabetics = pd.concat([diabetics,dummies],axis=1)
final_diabetics.drop(cat_cols,axis=1,inplace=True)
final_diabetics.head()

,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,heart_rate,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diagnosed_diabetes,gender_Male,gender_Other,ethnicity_Black,ethnicity_Hispanic,ethnicity_Other,ethnicity_White,education_level_Highschool,education_level_No formal,education_level_Postgraduate,income_level_Low,income_level_Lower-Middle,income_level_Middle,income_level_Upper-Middle,employment_status_Retired,employment_status_Student,employment_status_Unemployed,smoking_status_Former,smoking_status_Never
0,58,0,215,5.7,7.9,7.9,0,0,0,30.5,0.89,134,78,68,239,41,160,145,136,236,6.36,8.18,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
1,48,1,143,6.7,6.5,8.7,0,0,0,23.1,0.80,129,76,67,116,55,50,30,93,150,2.00,5.63,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0
2,60,1,57,6.4,10.0,8.1,1,0,0,22.2,0.81,115,73,74,213,66,99,36,118,195,5.07,7.51,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1
3,74,0,49,3.4,6.6,5.2,0,0,0,26.8,0.88,120,93,68,171,50,79,140,139,253,5.28,9.03,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1
4,46,1,109,7.2,7.4,5.0,0,0,0,21.2,0.78,92,67,67,210,52,125,160,137,184,12.74,7.20,1,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1

In [53]:
final_diabetics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 41 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   age                                 100000 non-null  int64
 1   alcohol_consumption_per_week        100000 non-null  int64
 2   physical_activity_minutes_per_week  100000 non-null  int64
 3   diet_score                          100000 non-null  float64
 4   sleep_hours_per_day                 100000 non-null  float64
 5   screen_time_hours_per_day           100000 non-null  float64
 6   family_history_diabetes             100000 non-null  int64
 7   hypertension_history                100000 non-null  int64
 8   cardiovascular_history              100000 non-null  int64
 9   bmi                                 100000 non-null  float64
 10  waist_to_hip_ratio                  100000 non-null  float64
 11  systolic_bp                         100000 non-null  int64
 12  diastolic_bp                        100000 non-null  int64
 13  heart_rate                          100000 non-null  int64
 14  cholesterol_total                   100000 non-null  int64
 15  hdl_cholesterol                     100000 non-null  int64
 16  ldl_cholesterol                     100000 non-null  int64
 17  triglycerides                       100000 non-null  int64
 18  glucose_fasting                     100000 non-null  int64
 19  glucose_postprandial                100000 non-null  int64
 20  insulin_level                       100000 non-null  float64
 21  hba1c                               100000 non-null  float64
 22  diagnosed_diabetes                  100000 non-null  int64
 23  gender_Male                         100000 non-null  int64
 24  gender_Other                        100000 non-null  int64
 25  ethnicity_Black                     100000 non-null  int64
 26  ethnicity_Hispanic                  100000 non-null  int64
 27  ethnicity_Other                     100000 non-null  int64
 28  ethnicity_White                     100000 non-null  int64
 29  education_level_Highschool          100000 non-null  int64
 30  education_level_No formal           100000 non-null  int64
 31  education_level_Postgraduate        100000 non-null  int64
 32  income_level_Low                    100000 non-null  int64
 33  income_level_Lower-Middle           100000 non-null  int64
 34  income_level_Middle                 100000 non-null  int64
 35  income_level_Upper-Middle           100000 non-null  int64
 36  employment_status_Retired           100000 non-null  int64
 37  employment_status_Student           100000 non-null  int64
 38  employment_status_Unemployed        100000 non-null  int64
 39  smoking_status_Former               100000 non-null  int64
 40  smoking_status_Never                100000 non-null  int64
dtypes: float64(7), int64(34)
memory usage: 31.3 MB

Now our dataset is ready for building model

### Data spliting for model building

In [55]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(final_diabetics,stratify=final_diabetics['diagnosed_diabetes'],train_size=0.7,
                              random_state=87)

In [ ]:
print(train.diagnosed_diabetes.value_counts(normalize=True))
print(test.diagnosed_diabetes.value_counts(normalize=True))

diagnosed_diabetes
1    0.599986
0    0.400014
Name: proportion, dtype: float64
diagnosed_diabetes
1    0.599967
0    0.400033
Name: proportion, dtype: float64

The data was properly split into training and testing sets.

In [ ]:
X_train =